<%= form_for @user do |f| %>
  <div>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
  <br>
  <h3>Newspapers:</h3>
  <div>
    <% @newspapers.each do |newspaper| %>
      <%= "#{newspaper.title}:" %>
      <%#= select("sub", "news_ids#{newspaper.id}", 
              newspaper.subscription_plans.map{|plan| ["#{plan.price} | #{frequency(plan)}", plan.id]}, { :include_blank => true, :selected => 24}) %>
      <select name="user[subscription_plan_ids][]">
          <option value=""></option>
        <% newspaper.subscription_plans.each do |plan| %>
          <option value=<%=plan.id%> <%="selected" if @user.subscription_plan_ids.include?(plan.id)%>> 
            <%="#{plan.price} | #{frequency(plan)}"%></option>
        <% end %>
      </select>
      <br>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>